<p id="notice"><%= notice %></p>




<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
    <%= form_for :user, url: ("/auth/create") do |f| %>
    <p>
      <%= f.label("", 'Email (xxx@xxx.xxx) :') %>
      <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
    </p>

      <p>
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>
      </p>

      <p>
        <%= f.label :password %>
        <%= f.password_field :password, :required => true %>
      </p>



      <p>
        <%= f.label :role %>
        <%= select("user", "role", [:Student,:Librarian]) %>
      </p>
      <%= f.submit "SignUp"%>
      <div id = "logindiv"><%= link_to 'Login',"/auth/login", :style=> 'color:#FFFFFF;font-size:medium;', :class => 'css_class'%></div>
  <% end %>
  </div>


</div>


